// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

a:link,
a:visited {
    color: $green_color;
    text-decoration: none;
}
a:hover {
    color: #038b32;
    text-decoration: none;
}
a:active {
    color: #666666;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', 'Arial', sans-serif;
}

.wrapper {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    width: 1200px;
    margin: 0 auto;
}



.hcontent{
    width: 1200px;
    margin: 0 auto;
    background-color: $footer_color;
    border-bottom: 2px solid $footer_color;
    border-radius: 3px 3px 0 0;
    display: flow-root;
}

.social-icons{
    float: right;
    font-size: 20px;
    margin: 5px 20px 5px 5px;
}

.social-icons a{
    color: #fff0ff;
    padding: 5px;
}

.social-icons a:hover{
    color: $green_color;
}

.navbar{
    clear: both;
    border-top: 2px solid #fff0ff;
    display: flow-root;
}

.navbar ul{
    list-style: none;
    float: left;
    padding: 0;
    margin: 3px 0 0 15px;
}

.navbar ul li{
    margin: 0 5px 0 5px;
    padding: 5px;
    text-transform: uppercase;
    float: left;
    background-color: white;
}

.navbar ul li a{
    color: black;
}

.navbar ul li:hover{
    background-color: #e3e3e3;
    color: white;
}

.navbar ul li a:hover{
    color: black;
}

.logo{
    float: left;
    padding: 15px;
    width: 500px;
}

.logo img{
    display: block;
    width: 400px;
    padding: 0;
    vertical-align: 0;
}

.content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main{
    clear: both;
    flex-basis: 840px;
    padding: 15px;
}

.container{
    width: 100%;
}

.form-login{
    margin: 50px auto;
    width: 300px;
    text-align: center;
    background-color: $content_color;
    padding: 15px;
    border-radius: 3px;
}

.form-login img{
    width: 270px;
}

.form-login .item{
    padding: 10px;
}

.form-login .labelitem{
    display: block;
    margin: 10px;
}

.form-login .form-control{
    margin: 5px;
}

.form-login h3{
    text-transform: uppercase;
}

.tittle-page{
    width: 300px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: $footer_color;
    color: white;
    text-align: left;
    padding: 5px 5px 5px 15px;
    float: right;
    position: relative;
    right: -15px;
    border-radius: 5px 0 0 5px;
}

.tittle-section{
    float: left;
    width: 200px;
    font-size: 18px;
    font-weight: inherit;
    text-transform: uppercase;
    text-align: right;
    color: black;
    padding: 5px 15px 5px 5px;
    background-color: $sidebar_color;
    border-top: 2px solid $footer_color;
    border-right: 2px solid $footer_color;
    border-bottom: 2px solid $footer_color;
    z-index: 1;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -15px;
    top: 30px;
}

.false-message{
    padding: 15px;
    background-color: #f84f56;
    color: white;
    margin: 15px 0 15px 0;
    text-align: center;
}

.true-message{
    padding: 15px;
    background-color: #2d77ff;
    color: black;
    margin: 15px 0 15px 0;
    text-align: center;
}

.invalid-feedback{
    display: block;
    padding: 15px;
    background-color: #f84f56;
    color: white;
    margin: 15px 0 15px 0;
    text-align: center;
}


input[type=text], input[type=email], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 3px;
    font-size: 13px;
    word-wrap: break-word;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=submit], button{
    background-color: $footer_color;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: $green_color;
}

input[type=color]{
    margin: 5px;
}

.sidebar{
    flex-basis: 298px;
    background-color: $sidebar_color;
    padding: 15px;
    border-left: 2px solid $footer_color;
}

.sidebar-tittle{
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid black;
    font-size: 16px;
    padding: 5px 0 5px 0;
}


.content-section{
    clear: both;
    padding-top: 50px;
}


.sidebar ul{
    padding: 0;
    margin: 15px 0 0 0;
    list-style: none;
}

.sidebar ul li a{
    display: block;
    text-transform: uppercase;
    padding: 5px;

}

.sidebar ul li a{
    color: black;
}

.sidebar ul li a:hover{
    background-color: $footer_color;
    color: white;
}

.sidebar ul li a:active{
    background-color: $footer_color;
}

#active{
    background-color: $green_color;
    color: white;
}
#active a{
    color: white;
}

.image-avatar{
    display: block;
    width: 150px;
    padding: 15px;
}

.image-post{
    display: block;
    width: 500px;
    padding: 15px;
}

.contact-footer{
    background-color: $footer_color;
    color: white;
    display: flow-root;
    width: 100%;
}
.contact-info{
    float: left;
    border-radius: 3px;
    width: 250px;
    padding: 15px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact-info a{
    color: $green_color;
    font-size: 20px;
    padding: 5px;
}

.contact-form{
    float: right;
    width: 300px;
    padding: 15px;
    margin: 15px 100px 15px 0;
}

.contact-form button{
    background-color: $green_color;
}

.footer{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    background-color: $footer_color;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer p{
    color: white;
    padding: 15px;
    margin: 0;
}

.float-right{
    width: 100px;
}

.post0{
    grid-area: post0;
    width: 200px;
    border-radius: 2px;
    padding: 15px;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post1{
    grid-area: post1;
    padding: 15px;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post2{
    grid-area: post2;
    padding: 15px;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-color{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.categories{
    display: flow-root;
}

.category-item{
    float: left;
    padding: 5px;
    margin: 3px;
    color: white;
    border-radius: 2px;
}

.category-item:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.posts-grid{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
    'post0 post1'
    'post0 post2';
}
