@import url(https://fonts.googleapis.com/css?family=Nunito);a:link,
a:visited {
  color: #C51417;
  text-decoration: none;
}

a:hover {
  color: #4F0103;
  text-decoration: none;
}

a:active {
  color: #666666;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Arial", sans-serif;
}

.wrapper {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  width: 1200px;
  margin: 0 auto;
}

.hcontent {
  width: 1200px;
  margin: 0 auto;
  background-color: #dedede;
  border-bottom: 2px solid #0e2231;
  border-radius: 3px 3px 0 0;
}

.navbar {
  border-top: 2px solid #0e2231;
  display: flow-root;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.navbar ul li a {
  color: black;
  text-transform: uppercase;
  padding: 5px 5px 3px 5px;
  font-size: 20px;
  font-weight: 400;
}

.navbar ul li a:hover {
  background-color: #009541;
  color: white;
}

.logo {
  margin: 15px auto;
  padding: 15px;
  width: 500px;
}

.logo img {
  display: block;
  width: 400px;
  padding: 0;
  vertical-align: 0;
}

.content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex-basis: 840px;
  padding: 15px;
}

.container {
  width: 100%;
}

.form-login {
  margin: 50px auto;
  width: 300px;
  text-align: center;
  background-color: #e8e8e8;
  padding: 15px;
  border-radius: 3px;
}

.form-login img {
  width: 270px;
}

.form-login .item {
  padding: 10px;
}

.form-login .labelitem {
  display: block;
  margin: 10px;
}

.form-login .form-control {
  margin: 5px;
}

.form-login h3 {
  text-transform: uppercase;
}

.tittle-page {
  width: 300px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background-color: #0e2231;
  color: white;
  text-align: left;
  padding: 5px 5px 5px 15px;
  float: right;
  position: relative;
  right: -15px;
  border-radius: 5px 0 0 5px;
}

.tittle-section {
  float: left;
  width: 200px;
  font-size: 18px;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: right;
  color: black;
  padding: 5px 15px 5px 5px;
  background-color: #e8e8e8;
  border-top: 2px solid #0e2231;
  border-right: 2px solid #0e2231;
  border-bottom: 2px solid #0e2231;
  z-index: 1;
  border-radius: 0 5px 5px 0;
  position: relative;
  left: -15px;
  top: 30px;
}

.false-message {
  padding: 15px;
  background-color: #f84f56;
  color: white;
  margin: 15px 0 15px 0;
  text-align: center;
}

.true-message {
  padding: 15px;
  background-color: #2d77ff;
  color: black;
  margin: 15px 0 15px 0;
  text-align: center;
}

.invalid-feedback {
  display: block;
  padding: 15px;
  background-color: #f84f56;
  color: white;
  margin: 15px 0 15px 0;
  text-align: center;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],
button {
  background-color: #0e2231;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover,
button:hover {
  background-color: #009541;
}

input[type=color] {
  margin: 5px;
}

.sidebar {
  flex-basis: 298px;
  background-color: #e8e8e8;
  padding: 15px;
  border-left: 2px solid #0e2231;
}

.sidebar-tittle {
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid black;
  font-size: 18px;
  padding: 5px 0 5px 0;
}

.content-section {
  clear: both;
  padding-top: 50px;
}

.sidebar ul {
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
}

.sidebar ul li a {
  display: block;
  text-transform: uppercase;
  padding: 5px;
}

.sidebar ul li a {
  color: black;
}

.sidebar ul li a:hover {
  background-color: #009541;
  color: white;
}

.sidebar ul li a:active {
  background-color: #0e2231;
}

#active {
  background-color: #0e2231;
  color: white;
}

.footer {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  background-color: #0e2231;
  border-radius: 0 0 3px 3px;
}

.footer p {
  color: white;
  padding: 15px;
  margin: 0;
}

